@charset "utf-8";
/* CSS Document */


#wrapper{
	width:600px;
	margin:40px auto;
	border:1px dashed red;
}

.clearFix{
	clear:both;
}

.col{
	border:1px solid #000;
	width:250px;
	float:left;
	margin:20px;
}


#col1{
	
}


p{
	border:1px solid #000;
	width:100px;
	margin:10px;
}


/*CSS POSITIONING:
*STATIC:
as a default ALL elements have position:
	static [all except HTML]

*RELATIVE
- the element is still in the document flow
- other elements will still see it and its
	original position
- its original position will be preserved
- you can position the element in reference
	to its ORIGINAL POSITION
- you can use top, left, right, bottom [+ / -]
*/


















/*
POSITION ABSOLUTE:
- the element is not in the flow anymore
- other elements and its container cannot see it
- its original position is gone
- you move it in reference to ITS FIRST NON-STATIC ANCESTOR

*/























/*position: FIXED:
- the element is outside of the flow
- its original position is lost
- the element will move in reference to HTML
- the element will stay there and it will not scroll
*/













/*
Z-INDEX:

- you can simulate the third dimension
- you can create something similar to
	photoshop layers
- it will only work with non static elements
- the element with the bigger z-index
	will appear on top of smaller z-indexed values
*/





















