/** TrainingDragon  */
/* =====================   CSS RESET SECTION ==== */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0b2 | 201101 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
img, iframe{vertical-align: top;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, main, hgroup, menu, nav, section, canvas { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* =====================   GENERAL SECTION ==== */
html, body { width: 100%; height: 100%; }


body{
    background-color: #fff;
}
.container{
    width: 960px;
    margin: auto;
}


.leftCol{
    width: 297px;
    float:left;
}
.rightCol{
    float: right;
    width: 612px;
}
.clearFix{clear:both;}

#wrapper{
    font-family: "Arial", "Helvetica", sans-serif;
}
/* =====================  HEADER  SECTION ==== */
/*---topHeader*/
#headBox{
    background-color: rgba(66,75, 79,.9);
    height: 100px;
}


/*------nav*/
/*a
	fs:11
	lh:13
	col:#555d60
	p:62 0 22
	w:110
	bb:3px
*/



    /*
    current page link TO DO:
	  from f6ca51
   	  to d8a926
    */
    

/*=================end #nav*/

/*-------banner*/
#banner{
    height: 420px;
    background-image: url("../imgs/Banner_01.jpg");
    background-position: 50% 0%;
    background-color: #EEEDE9;
    background-repeat: no-repeat;
}

#logo{
    height: 217px;
    text-align: center;
    background-color: rgba(66,75, 79,.9);
}

    #logo img{
        margin-top: 50px;
    }

/*612x69*/

#titleHolder{
    border-top:2px dotted #d8a926;
    border-bottom:2px dotted #d8a926;
    margin-top:70px;
}

h1, h2{
    color:#424b4f;
    text-transform: uppercase;
}

h1{
    font-size:26px;
    width: 240px;
    margin: 12px 0;
}

#subTitle {
    color: #555d60;
    font-size: 15px;
    line-height: 1.4;
    width: 300px;
    margin-top: 5px;
}

#control{
    float:right;
    width: 93px;
    margin-top: 55px;
}


/*===
	function to do:
	bg:#d8a926
	93x93

==*/

#function{
    
}

/*=================end #function*/
    #function p{
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        padding-top:32px;
    }

#bullets{
    margin: 17px 0;
}

/*
	.bullet TO DO
	18x18
	bg # 999
	.9
	mr 19px
	hov # 333
*/


/*
	do not forget last bullet on the right
=================end .bullet*/


/* =====================  MAIN  SECTION ==== */
.bar{
    height: 60px;
    text-transform: uppercase;
    text-align: center;
}

.bar .btn{
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding: 21px 0px;
    text-align: center;
    color: #fff;
    background: #f6ca51; /* Old browsers */
    background: -moz-linear-gradient(top, #f6ca51 0%, #d8a926 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6ca51), color-stop(100%,#d8a926)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6ca51 0%,#d8a926 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6ca51 0%,#d8a926 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6ca51 0%,#d8a926 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f6ca51 0%,#d8a926 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6ca51', endColorstr='#d8a926',GradientType=0 ); /* IE6-9 */

}

/*
from: 787f82
to: 555d60
*/
.bar .btn:hover, .sideLink a:hover{
    color: #ffffff;
    background: #787f82; /* Old browsers */
    background: -moz-linear-gradient(top, #787f82 0%, #555d60 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#787f82), color-stop(100%,#555d60)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #787f82 0%,#555d60 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #787f82 0%,#555d60 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #787f82 0%,#555d60 100%); /* IE10+ */
    background: linear-gradient(to bottom, #787f82 0%,#555d60 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787f82', endColorstr='#555d60',GradientType=0 ); /* IE6-9 */
}

main h2{
    border-bottom:2px dotted #d8a926;
    font-size: 20px;
    margin-top: 55px;
    padding-bottom: 20px;
}

.bigPar{
    font-size: 15px;
    margin-top: 20px;
    color: #919191;
    text-align: justify;

}

#videoPic{
    margin-top: 29px;
}

/*-----main video*/
.barHeader p, .sideLink a{
    font-size: 18px;
    padding: 21px 0px;
    display: block;
}

.barHeader{
    background-color: #555d60;
    color: #fff;
}

.sideLink a{
    color:#424b4f;
    text-decoration: none;
    background-color: #eeede9;
    margin-top: 8px;
}


/*
	===============SMALL COL TO DO .smallCol
	w:190
	mt:40
	mr:21
	bt:2 dott #919191
	pt:6
*/

.smallCol{
    
}
    .smallCol h3{
        border-bottom:2px dotted #919191;
        color:#d8a926;
        text-transform: uppercase;
        font-size: 18px;
        padding-bottom: 10px;
        margin-top: 10px;
    }

    .smallCol p{
        font-size: 15px;
        color:#919191;
        margin-top: 5px;
        line-height: 1.4;
        margin-bottom: 40px;
    }

/*=============  what about the last small col on the right  ==============*/

.moreBtn{
    background-color: #555d60;
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    padding: 15px 0px;
}

    .moreBtn:hover{
        background-color: #e3b536;
    }


/*------------services*/
/*

	SERVICES TO DO

*/

/* =====================  FOOTER  SECTION ==== */


/* =====================  FIXED  SECTION ==== */
/* =====================    SECTION ==== */
/* =====================    SECTION ==== */
/* =====================    SECTION ==== */









