/* =====================   CSS RESET SECTION ====
the css reset will remove different browsers default values to prevent cross -browser issues
**** this is just a starting point!!!! feel free to customise and improve it!! *****
*/



/*=============================== GENERAL SECTION ====== */






/*=============================== HEADER SECTION ====== */





/*===============================  MAIN SECTION ====== */




/*=============================== FOOTER SECTION ====== */
















